#landing-nav-bar {
    position: absolute;
    z-index: 100;
    top: 0;
    width: 100%;
    height: fit-content;
    max-height: 80.8px;
    padding: 0 10vw;
    justify-content: space-between;
    align-items: flex-start;
    background-color: rgba(47, 47, 47, 0.389);
}

.title {
    display: inline-block;
    left: 0;
    font-family: Rubik, serif;
    font-size: 4rem;
    color: rgb(240, 240, 240);
}

.title:hover {
    cursor: pointer;
}

@media screen and (max-width: 812px) {
    .title {
        font-size: 2.2rem;
        margin-top: 1.5rem;
    }
}

@media screen and (max-width: 360px) {
    .title {
        font-size: 1.8rem;
    }
}